<template>
  <div>
    <v-text-field v-model="email" label="E-mail" required></v-text-field>
        <v-text-field v-model="password" label="password" required></v-text-field>
    <v-btn color="success" @click="login">Se connecter</v-btn>
  </div>
</template>