<template>
  <div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model="name"
        :counter="10"
        :rules="nameRules"
        label="Nom d'utilisateur"
        required
      ></v-text-field>
      <v-text-field v-model="email" :rules="emailRules" label="E-mail" required>
      </v-text-field>
      <v-text-field
        v-model="password"
        :rules="passwordRules"
        label="password"
        required
      >
      </v-text-field>
      <v-btn :disabled="!valid" color="success" @click="register"
        >s'enregistrer</v-btn
      >
    </v-form>
  </div>
</template>

<script>
import { ACTIONS } from "~/store/users";
//const fs = require('fs');
const path = require("path");

export default {
  data: () => ({
    valid: true,
    name: "",
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    password: "",
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) =>
        (v && v.length <= 10) || "Password must be less than 10 characters",
    ],
    users: [],
  }),

  mounted() {
    if (localStorage.users) {
      this.users = JSON.parse(localStorage.users);
    }

    //localStorage.setItem(users, JSON.stringify(users))

    //if (localStorage.email) {this.email = localStorage.email;}

    // if (localStorage.password) {this.password = localStorage.password;}
  },
  watch: {
    users(newUsers) {
      localStorage.users = JSON.stringify(newUsers);
    },
  },

  methods: {
    register() {
      this.users.push({
        name: this.name,
        email: this.email,
        passsword: this.password,
      });

      this.$store.dispatch(ACTIONS.ADD_USER_METHOD, {
        name: this.name,
        email: this.email,
        passsword: this.password,
      });
      localStorage.clear();

      console.log(localStorage.users);
    },
  },
};
</script>